<div class="span6">
<h2>Edit Idea</h2>

<%= form_for(@idea) do |f| %>

	<%=f.label :title %>
	<%=f.text_field :title %>

	<%=f.label :pitch %>
	<%=f.text_area :pitch, size:"10x10" %>

	<%=f.submit "Save!" %>

<%end%>
</div>