<h1>New Idea</h1>

<%= form_for (@idea) do |f| %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :pitch %>
	<%= f.text_area :pitch, size: "60x12" %>

	<%= f.submit "Done!"  %>

<%end%>