<div class="container-fluid">
<div class="row-fluid">
	


		<div class="row-fluid">
			<div class="span2">
				<%= render 'layouts/idea_nav'%>
			</div>

			<div class="span5">
			
				<h3>
					<%= @idea.title %>
				</h3>
				<br>
				<% if @idea.ranks.count != 0 %>
					<h6>Weighted Ranking</h6>
					<p><%=@idea.bayesian_rank%></p> 
				<%end%>
				<h6>Submitted By</h6>
				<p><%= @idea.user.email %></p>
				<h6>Submitted On</h6>
				<p><%= @idea.created_at%></p>
				More Issue Stats will go here
				<hr>
				<h6>The Pitch</h6>
				<p><%= @idea.pitch %></p>
			</div>

			<div class="span5">
				<%= render 'layouts/user_ranks'%>
			</div>
		</div>

</div>
</div>





