<h3><%= @idea.title %></h3><br>
<div class="span6">
		<h6>Submitted By</h6>
		<p><%= @idea.user.email %></p>
		<h6>Submitted On</h6>
		<p><%= @idea.created_at%></p>
		More Issue Stats will go here
		<hr>
		<h6>The Pitch</h6>
		<p><%= @idea.pitch %></p>
</div>

<div class="span6">

		<%= render 'layouts/user_ranks' %>
</div>






