<ul class="nav nav-list pull-left">
	<li class="nav-header">
    	Different Views
  	</li>
	
	<li><%= link_to 'Fresh Ideas', '#' %></li>

  <li><%= link_to 'Being Studied', '#' %></li>
  
  <li><%= link_to 'Tabled Ideas', '#' %></li>

  <li><%= link_to 'In the Works', '#' %></li>

	<li ><%= link_to 'All Ideas', ideas_path %></li>

</ul>