<h6 class="center">Your Rankings</h6>
<br>
<table class="table table-striped table-bordered table-condensed">
	<thead>
			<tr><td></td><td>Idea</td><td>Rank</td><td>Date</td><td></td></tr>
	</thead>
	<tbody>

		<% current_user.get_all_rank_slots.each do |slot| %>

			<% if slot.is_a?(Rank) %>

				<tr><td><%=link_to raw('<i class="icon-chevron-up" title="Shift Upward!"></i>'),   {:controller=> "ranks", :action=>"move", :rank_id=>slot.id, :direction=>"up", :return_to_idea_id=> :id}, :method=>:put%><%=link_to raw('<i class="icon-chevron-down" title="Shift Downward!"></i>'),   {:controller=> "ranks", :action=>"move", :rank_id=>slot.id, :direction=>"down", :return_to_idea_id=>@idea.id}, :method=>:put%></td><td></i><%=link_to slot.idea.title, slot.idea%></td><td><%=slot.value%></td><td><%=slot.updated_at.to_formatted_s(:short)%><td><i class="icon-trash"></i></td></tr>

			<%else%>

				<tr><td><%=link_to raw('<i class="icon-check" title="Rank this Idea here!"></i>'),   {:controller=>"ranks", :idea_id=>@idea.id, :value=>slot.to_i}, :method=>:post%></td><td><%="Available Rank #{slot.to_i}"%></td><td></td><td></td><td></td></tr>

			<%end%>

		<%end%>


	</tbody>

</table>