<!DOCTYPE html>
<html>
	<head>
  		<title>roadeo</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class ="container-fluid">

			<div class="row-fluid">
					<div class="span12">
					<% if flash[:notice] %>
						<div class="alert alert-info">
							<p class="notice"><%= flash[:notice] %></p>
						</div>
					<%end%>

					<% if flash[:error] %>
						<div class="alert alert-error">
							<p class="error"><%= flash[:error] %></p>
						</div>
					<%end%>
				</div>
			</div>

			<div class ="row-fluid">
					<%= yield %>
			</div>
		

		<% if Rails.env.development? %>
		<%= debug(params) %>
		<%end%>


		</div>

	</body>
</html>
