<!DOCTYPE html>
<html>
	<head>
  		<title>roadeo</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<header class="navbar navbar-fixed-top">
			<div class ="navbar-inner">
				<%= link_to "roadeo","#",id:"logo" %>
				<nav>
					<ul class="nav pull-right">
						<%if user_signed_in? %>
							<li>Signed in as <%=current_user.email %> <%= link_to "Sign out", destroy_user_session_path%></li>
						<%else%>
							<li><%= link_to"Sign In",sign_in_path%></li>
						<%end%>
					</ul>
				</nav>
		</header>
		<div class ="container">
			<p class="alert"><%= alert %></p>
			<div class ="row">
				<div class="span12">
					<%= yield %>
				</div>
			</div>
		</div>
		<% if Rails.env.development? %>
		<%= debug(params) %>
			<% if user_signed_in? %>
				And User ID is: <%=current_user.id %>
			<%end%>
		<%end%>
	</body>
</html>
